body {
    background-color: #eaffd0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #5c9145;
}

form input, form button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #c1e1a6;
    border-radius: 8px;
}

form button {
    background-color: #b4e197;
    color: #000;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #a1d387;
}

a {
    color: #6cae30;
    text-decoration: none;
    font-size: 0.9em;
}
